.formContainer{
  
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper{
      margin-top: 25px;
      //width: 500px;
      background-image: url("../../img/room-back.jpg");
      background-position: center;
      background-size: cover;
      min-width: 450px;
      padding: 40px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      form{
        display: flex;
        justify-content: center;
        position: relative;

        input{
          width: 320px;
          padding: 10px;
          font-size: 19px;
          font-weight: 500;
          color: #310996;
          border: none;
          border-bottom: 1px solid #8758ff;
          outline: none;
          background-color: transparent;
          text-align: center;
          &::placeholder{
            color: rgb(219, 216, 216);
          }
        }
        button{
          position: absolute;
          right: -70px;
          color: #5552af;
          margin-left: 25px;
          padding: 10px;
          border-radius: 15px;
          font-size: 19px;
          border: none;
          font-weight: bold;
          background-color: rgb(195, 196, 196);
          cursor: pointer;

          &:hover{
            color: white;
            background-color: #5552af;
          }
        }
      }
      
      .title{
        color: #5d5b8d;
        font-size: 30px;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        text-shadow: 
        5px  5px 10px #87e74f,  /*  Нижний - Справа */
        5px -5px 10px #87e74f,  /*  Нижний - Слева  */
        -5px  5px 10px #87e74f,  /* Верхний - Справа */
        -5px -5px 10px #87e74f;  /* Верхний - Слева  */
      } 
      .desk{
        display: inline-flex;
        flex-direction: row-reverse;
    }
    .list{
      font-size: 25px;
      color: #5a1ff1;
    }
    .err{
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      color: #ee1010;
    }
  }
}

.desk__item{
  color: #dcdcdc;
  font-size: 50px;
  cursor: pointer;
  transition: .2s;
}
.desk__item:hover,
.desk__item:hover ~ .desk__item{
    color: #989898;
}