.button__open{
    border-radius: 10px;
    background-color:aqua;
    position: relative;
    margin: 20px;
    width: 200px;
    height: 40px;
    font-size: medium;
    cursor: pointer;
  }
  .button__open:hover{
    color: black;
    background-color:aquamarine;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  }
  .button__open:active{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  }