

.formContainer{

    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        
        margin-top: 25px;
        max-width: 70vw;
        background-image: url("../../img/room-back.jpg");
        background-position: center;
        background-size: cover;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        position: relative;

        .btn_add_to_api{
            position: absolute;
            right: 15px;
            top: 20px;
            color: #5552af;
            margin-left: 25px;
            padding: 10px;
            border-radius: 15px;
            font-size: 19px;
            border: none;
            font-weight: bold;
            background-color: rgb(195, 196, 196);
            cursor: pointer;
  
            &:hover{
              color: white;
              background-color: #5552af;
            }
          }

        .back{
            cursor: pointer;
            position: absolute;
            left: 15px;
            top: 20px;
            background-color: white;
            padding: 7px;
            border-radius: 50px;
            border: 5px solid white;
            &:hover{
              border: 5px solid #87e74f;
            }

            @media only screen and (max-width: 600px) {
                    position: relative;
                    top: 0px;
            }
          }

        .title{
            color: #5d5b8d;
            font-size: 30px;
            max-width: 400px;
            word-break:break-all;
            margin-bottom: 20px;
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
            text-shadow: 
                5px  5px 10px #87e74f,  /*  Нижний - Справа */
                5px -5px 10px #87e74f,  /*  Нижний - Слева  */
                -5px  5px 10px #87e74f,  /* Верхний - Справа */
                -5px -5px 10px #87e74f;  /* Верхний - Слева  */
        } 
  
        form{
          display: flex;
          justify-content: center;
        }

        .desk__set{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .plus{
                cursor: pointer;
                transform: scale(0.5);
                &:hover{
                    transform: scale(0.7);
                &:active{
                    transform: scale(0.5);
                }
                }
            }
        }
    }
}