

.desk__set__item{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    background-color: #ff0099;
    margin: 5px;
    
}

.desk{
    display: inline-flex;
    flex-direction: row-reverse;
}
.desk__item{
    color: #dcdcdc;
    font-size: 50px;
    cursor: pointer;
    transition: .2s;
}
.desk__item:hover,
.desk__item:hover ~ .desk__item{
    color: #989898;
}


.desk__set{
    display:inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.button__change{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-right: 5px;
}
.btn_set{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}
