.formContainer{

  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper{
      margin-top: 25px;
      width: 500px;
      background-color: white;
      min-height: 80vh;
      //height: max-content;
      background-image: url("../../img/room-list.jpg");
      background-position: center;
      background-size: cover;
      padding: 40px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      position: relative;

    .back{
      cursor: pointer;
      position: absolute;
      left: 15px;
      top: 20px;
      background-color: white;
      padding: 7px;
      border-radius: 50px;
      border: 5px solid white;
      &:hover{
        border: 5px solid #87e74f;
      }

      @media only screen and (max-width: 600px) {
        position: relative;
        top: 5px;
}
    }

    .title {
      //color: #87e74f;
      font-size: 40px;
      max-width: 400px;
      word-break:break-all;
      margin-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-weight: 700;
      color: #aff;
            text-shadow: 
                5px  5px 10px #045acf,  /*  Нижний - Справа */
                5px -5px 10px #045acf,  /*  Нижний - Слева  */
                -5px  5px 10px #045acf,  /* Верхний - Справа */
                -5px -5px 10px #045acf;  /* Верхний - Слева  */
    }
    
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .boxForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid #87e74f;
      padding: 15px;
      gap: 10px;

      .name{
        font-size: 29px;
        color: #5a1ff1;
        font-weight: 900;
        text-shadow: 
                5px  5px 10px #87e74f,  /*  Нижний - Справа */
                5px -5px 10px #87e74f,  /*  Нижний - Слева  */
                -5px  5px 10px #87e74f,  /* Верхний - Справа */
                -5px -5px 10px #87e74f;  /* Верхний - Слева  */
      }
      .err{
        font-size: 20px;
        font-weight: 500;
        color: #ee1010;
        background-color: white;
        padding: 7px;
        border-radius: 50px;
        border: 2px solid #5a1ff1;
      }
      .send{
        font-size: 20px;
        font-weight: 500;
        color: #4cb60e;
        background-color: white;
        padding: 7px;
        border-radius: 50px;
        border: 2px solid #5a1ff1;
      }
    }

    form {
      display: flex;
      
      //flex-direction: column;
      gap: 7px;

      span{
        background-color: white;
        font-size: small;
        display: flex;
        align-items: center;
        //justify-content: center;
        //padding-left: 5px;
        color: grey;
        border: 2px solid #87e74f;
        padding: 5px;
        input{
            //width: 50px;
            padding: 3px;
            border: none;
            outline: none;
            background-color: transparent;
            //font-family: helvetica;

        }
      }
      button{
        color: white;
        padding: 5px 20px ;
        border: none;
        font-size: 18px;
        background-color: #8758ff;
        cursor: pointer;
        position: relative;
        //top: 10px;
        border: 2px solid #87e74f;

        &:hover{
            color: white;
            background-color: #7540fc;
            //font-size: 25px;
            //border-color: #8758ff;
            //border: 1px solid #8758ff;
          }
    }
    .errButtom{
      background-color: #ee1010;
    }
    .sendButtom{
      background-color: #4cb60e;
    }
    }

    .list {
      display: flex;
      width: 400px;
      justify-content: space-between;
      align-items: center;
      background: #8758ff;
      color: #fff;
      padding: 0.75rem 1rem;
      border-radius: 5px;
      margin-bottom: 1rem;
      font-size: larger;
      font-weight: 500;
      cursor: pointer;
      border: 2px solid #fff;

      &:hover{
          border: 2px solid #87e74f;
      }
    }
  }
}


.icon__time {
  background-color: white;
  border-radius: 50px;
  border: 2px solid #87e74f;
  font-size: 15px;
  width: 500px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  span {
    padding: 10px;
  }

  .desk__item {
    color: #40f049;
    font-size: 6px;
    margin-top: 3px;
    cursor: pointer;
    &:hover {
      color: #1e9424;
    }
  }
  .desk__item_red {
    color: #e7a036;
    font-size: 6px;
    margin-top: 3px;
    cursor: pointer;
    &:hover {
      color: #c47c11;
    }
  }
}

