.formContainer{

    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        width: 500px;
        background-color: white;
        padding: 40px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
        .title{
            color: #5d5b8d;
            font-size: 30px;
            margin-bottom: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto
        }
        .list{
            width: 400px;
            padding: 10px 0px;
            display: flex;
            justify-content: space-between;
            font-size: larger;
            font-weight: 500;
            border-bottom: 1px solid #5d5b8d;

            button{
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }
}

.btn_back{
    position:absolute;
    top: 60px;
}

.icon__time{
    width: 500px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    
    span{
        padding: 10px;
    }

    .desk__item{    
        color: #40f049;
        font-size: 6px;
        margin-top: 3px;
        cursor: pointer;
        &:hover{
            color: #1e9424;
        }
      }
    .desk__item_red{
        color: #e7a036;
        font-size: 6px;
        margin-top: 3px;
        cursor: pointer;
        &:hover{
            color: #c47c11;
        }
    }
      
}
