.formContainer{

  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper{
      margin-top: 25px;
      width: 500px;
      background-color: white;
      padding: 40px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

    .title {
      color: #5d5b8d;
      font-size: 30px;
      margin-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-weight: 700;
    }
    
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .boxForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid #8758ff;
      padding: 15px;
      gap: 10px;

      .name{
        font-size: 25px;
        color: #5a1ff1;
      }
      .err{
        font-size: 20px;
        font-weight: 500;
        color: #ee1010;
      }
      .send{
        font-size: 20px;
        font-weight: 500;
        color: #4cb60e;
      }
    }

    form {
      display: flex;
      //flex-direction: column;
      gap: 7px;

      span{
        font-size: small;
        display: flex;
        align-items: center;
        //justify-content: center;
        //padding-left: 5px;
        color: grey;
        border: 2px solid #8758ff;
        padding: 5px;
        input{
            //width: 50px;
            padding: 3px;
            border: none;
            outline: none;
            background-color: transparent;
            //font-family: helvetica;

        }
      }
      button{
        color: white;
        padding: 5px 20px ;
        border: none;
        font-size: 18px;
        background-color: #8758ff;
        cursor: pointer;
        position: relative;
        //top: 10px;

        &:hover{
            color: white;
            background-color: #7540fc;
            //font-size: 25px;
            //border-color: #8758ff;
            //border: 1px solid #8758ff;
          }
    }
    .errButtom{
      background-color: #ee1010;
    }
    .sendButtom{
      background-color: #4cb60e;
    }
    }

    .list {
      display: flex;
      width: 400px;
      justify-content: space-between;
      align-items: center;
      background: #8758ff;
      color: #fff;
      padding: 0.75rem 1rem;
      border-radius: 5px;
      margin-bottom: 1rem;
      font-size: larger;
      font-weight: 500;
      cursor: pointer;

    }
  }
}


.icon__time {
  width: 500px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  span {
    padding: 10px;
  }

  .desk__item {
    color: #40f049;
    font-size: 6px;
    margin-top: 3px;
    cursor: pointer;
    &:hover {
      color: #1e9424;
    }
  }
  .desk__item_red {
    color: #e7a036;
    font-size: 6px;
    margin-top: 3px;
    cursor: pointer;
    &:hover {
      color: #c47c11;
    }
  }
}
