.formContainer{

    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        margin-top: 25px;
        width: 500px;
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
        .title{
            color: #5d5b8d;
            font-size: 30px;
            margin-bottom: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
        }

        .list{
            display: flex;
            width: 400px;
            justify-content: space-between;
            align-items: center;
            background: #8758ff;
            color: #fff;
            padding: 0.75rem 1rem;
            border-radius: 5px;
            margin-bottom: 1rem;
            font-size: larger;
            font-weight: 500;
            .open{
                cursor: pointer;
            }
            svg {
                margin-left: 0.75rem;
                cursor: pointer;
                &:hover{
                    color: #87e74f;
                }
              }

        
            // button{
            //     cursor: pointer;
            //     margin-left: 5px;
            // }
        }
    }
}
