.formContainer{

    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        margin-top: 25px;
        width: 500px;
        background-color: white;
        min-height: 70vh;
        background-image: url("../../img/room-top.jpg"), url("../../img/room-back.jpg");
        background-position: top;
        background-size: 90vh, contain;
        background-repeat: no-repeat, repeat;
        padding: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        position: relative;
        
        .title{
            font-size: 40px;
            margin-bottom: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
            color: #aff;
            text-shadow: 
                5px  5px 10px #045acf,  /*  Нижний - Справа */
                5px -5px 10px #045acf,  /*  Нижний - Слева  */
                -5px  5px 10px #045acf,  /* Верхний - Справа */
                -5px -5px 10px #045acf;  /* Верхний - Слева  */
        }

        .checkbox{
            color: #87e74f;
            font-size: 18px;
            font-weight: 500;
        }

        .empty{
            color: #3b56ee;
            font-size: 25px;
            margin-top: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
            text-shadow: 
                5px  5px 10px #87e74f,  /*  Нижний - Справа */
                5px -5px 10px #87e74f,  /*  Нижний - Слева  */
                -5px  5px 10px #87e74f,  /* Верхний - Справа */
                -5px -5px 10px #87e74f;  /* Верхний - Слева  */
        }

        .list{
            display: flex;
            width: 400px;
            justify-content: space-between;
            align-items: center;
            background: #8758ff;
            color: #fff;
            padding: 0.75rem 1rem;
            border-radius: 5px;
            margin-bottom: 1rem;
            font-size: larger;
            font-weight: 500;
            border: 2px solid #fff;

            &:hover{
                border: 2px solid #87e74f;
            }
            .open{
                cursor: pointer;
                max-width: 300px;
            }
            svg {
                margin-left: 0.75rem;
                cursor: pointer;
                &:hover{
                    color: #87e74f;
                }
              }
        }
    }
}
